body {
  height: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  font-family: Helvetica, sans-serif;
}
#button{
  background: #7B68EE;
  color:#fff;
  padding: 10px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}
#button:hover{
  background: #8A2BE2;
}
